<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>POST</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  testing POST with Nodejs
  <input type="text" id="name" placeholder="type your name">
  <input type="submit" onclick="post()">
  <ul>
  <% names.forEach(function(name){ %>
    <li> <%= name.name %> </li>
  <% }) %>
  </ul>
<script>
  function post(){
    let chosen_name = document.querySelector('#name').value
    let data = {name: chosen_name};

    fetch('http://localhost:3000/', {
      body: JSON.stringify(data),
      method: 'POST',
      headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
      }
    }).then(res=>console.log(res.statusText))

    setTimeout(function(){
      location.reload()
    }, 1500);
  }
</script>
</body>
</html>
